Repository ws-4020/mobile-app-crib-notes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

.azure-pipelines/delete-deploygate-distribution-pages.yml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  stages:
  - stage: DeleteDistributionPages
    displayName: Delete DeployGate distribution pages
    jobs:
    - job: delete_distribution_pages
      displayName: Delete DeployGate distribution pages
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azure-pipelines/deploy-all.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml

devDependencies除外
  example-app/SantokuApp/.script/list-dependencies.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

devDependencies非表示化に伴う不要なManagedLicenseの削除
  example-app/SantokuApp/.script/managed-license.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

プロキシ環境下でフェッチする方法を記載
  example-app/SantokuApp/.script/README.md
  example-app/SantokuApp/.script/license-text-cache.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

upload-artifact@v3をv4にアップデート
  .github/workflows/app.yaml
Due: none

分かりにくい日本語を修正
  example-app/SantokuApp/.script/license-text-cache.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

minSdkVersionを設定
  example-app/SantokuApp/app.config.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

gradle.propertiesログ出力
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

修正
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

minSdkVersionの位置変更
  example-app/SantokuApp/app.config.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

minSdk以外のプロパティ削除
  example-app/SantokuApp/app.config.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

コメントアウトではなく削除
  example-app/SantokuApp/app.config.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

app.config.js戻し、deploy.yamlでgradle.propertiesを最初に追加する文字列の前に改行コードを追加
  .azure-pipelines/deploy.yaml
  example-app/SantokuApp/app.config.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ログ出力
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

withIosSetCredentialsを修正
  example-app/SantokuApp/config/plugin/src/ios/withIosSetCredentials.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

生成物確認
  example-app/SantokuApp/src/features/acknowledgements/constants/ThirdPartyDependencies.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

log
  example-app/SantokuApp/.script/list-dependencies.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

最新versionのみ残すように修正
  example-app/SantokuApp/.script/list-dependencies.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

戻し
  example-app/SantokuApp/.script/list-dependencies.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

codeSignIdentityを引数として新設
  example-app/SantokuApp/config/plugin/src/ios/withIosSetCredentials.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

検証
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/event/getEvents.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

テスト
  example-app/SantokuApp/config/app.config.dev.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

戻し
  example-app/SantokuApp/config/app.config.dev.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

テスト
  example-app/SantokuApp/config/app.config.local.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

diff
  example-app/SantokuApp/project_new.pbxproj
  example-app/SantokuApp/project_old.pbxproj
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ビルドするテストの準備
  example-app/SantokuApp/config/app.config.dev.js
  example-app/SantokuApp/config/app.config.local.js
  example-app/SantokuApp/project_new.pbxproj
  example-app/SantokuApp/project_old.pbxproj
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

修正
  example-app/SantokuApp/config/app.config.dev.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

eventでheader追加
  example-app/SantokuApp/src/features/backend/apis/event/event.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

add
  example-app/SantokuApp/src/features/backend/apis/event/evidence.txt
  example-app/SantokuApp/src/features/backend/apis/event/note.txt
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

原因特定
  example-app/SantokuApp/src/features/backend/apis/event/note.txt
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

chore: 配布用証明書の動作確認用に設定変更
  .azure-pipelines/deploy.yaml
  example-app/SantokuApp/fastlane/Fastfile.build_santoku_app_ios
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

chore: Androidビルドを削除（時短のため）
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

deepmerge
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

🩹: upload-artifact@v3をv4にアップデート (#1334)
  .github/workflows/app.yaml
Due: none

chore: gh-pages用actions/upload-artifactをv4に更新
  .github/workflows/gh-pages.yaml
Due: none

chore: gh-pages用actions/upload-artifactをv4に更新 (#1339)
  .github/workflows/gh-pages.yaml
Due: none

戻し
  example-app/SantokuApp/src/features/acknowledgements/constants/ThirdPartyDependencies.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Path conditions:
  .azure-pipelines/delete-deploygate-distribution-pages.yml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-all.yaml: any of: .tool-versions, .azure-pipelines, example-app/SantokuApp, but not: example-app/SantokuApp/README.md
