Repository ws-4020/mobile-app-crib-notes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

.azure-pipelines/delete-deploygate-distribution-pages.yml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  stages:
  - stage: DeleteDistributionPages
    displayName: Delete DeployGate distribution pages
    jobs:
    - job: delete_distribution_pages
      displayName: Delete DeployGate distribution pages
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azure-pipelines/deploy-all.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml

docs: dev環境についてドキュメント更新
  example-app/SantokuApp/.script/README.md
  website/docs/react-native/santoku/development/build-configuration/app-launch-per-build-settings.mdx
  website/docs/react-native/santoku/development/build-configuration/apply-plugins.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type.mdx
  website/docs/react-native/santoku/development/build-configuration/environments-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/firebase-setting-file.mdx
  website/docs/react-native/santoku/development/development-environment.mdx
  website/docs/react-native/santoku/development/development-environment/04.use-firebase.mdx
  website/docs/react-native/santoku/development/development-environment/11.setting-up-ios-distribution-build.mdx
  website/docs/react-native/santoku/development/implement/cautions-on-using-firebase.mdx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

chore: azure-pipelines に dev env を追加
  .azure-pipelines/deploy-dev.yaml
  .azure-pipelines/deploy.yaml
  .github/pull_request_template.md
Due: .azure-pipelines/deploy-all.yaml

WIP: change: ID 変更
  example-app/SantokuApp/config/app.config.dev.js
  example-app/SantokuApp/fastlane/Fastfile.build_santoku_app_ios
  example-app/SantokuApp/google-services-dummy.json
  example-app/SantokuApp/prebuild/dev/android/app/build.gradle
  example-app/SantokuApp/prebuild/dev/android/app/src/debug/java/jp/fintan/mobile/SantokuApp/dev/house/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/house/AppActivity.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/house/MainActivity.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/house/MainApplication.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/house/ThrowErrorModule.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/house/ThrowErrorPackage.java
  example-app/SantokuApp/prebuild/dev/android/app/src/release/java/jp/fintan/mobile/SantokuApp/dev/house/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp.xcodeproj/project.pbxproj
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Appleのドキュメントに記載されていた警告文を削除
  website/docs/react-native/santoku/decisions/adr-018-deep-link.mdx
Due: none

不要になりそうなページを削除
  website/docs/react-native/santoku/application-architecture/deep-link/create-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/react-native-firebase.mdx
  website/docs/sidebars.js
Due: none

概要ページを更新
  website/docs/react-native/santoku/application-architecture/deep-link/overview.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
Due: none

docs: デバッグビルドで有効になる機能の説明としてexpo-dev-clientを追加
  website/docs/react-native/santoku/development/build-configuration/build-type.mdx
Due: none

Universal Linksページを追加
  website/docs/react-native/santoku/application-architecture/deep-link/universal-links-overview.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/universal-links.mdx
  website/docs/sidebars.js
Due: none

Android App Linksページを追加
  website/docs/react-native/santoku/application-architecture/deep-link/android-app-links-overview.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/android-app-links.mdx
  website/docs/sidebars.js
Due: none

docs: アプリで使用するデフォルトのビルドタイプの表を改善
  website/docs/react-native/santoku/development/build-configuration/build-type.mdx
Due: none

Revert "WIP: change: ID 変更"
  example-app/SantokuApp/config/app.config.dev.js
  example-app/SantokuApp/fastlane/Fastfile.build_santoku_app_ios
  example-app/SantokuApp/google-services-dummy.json
  example-app/SantokuApp/prebuild/dev/android/app/build.gradle
  example-app/SantokuApp/prebuild/dev/android/app/src/debug/java/jp/fintan/mobile/SantokuApp/dev/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/AppActivity.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainActivity.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainApplication.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/ThrowErrorModule.java
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/ThrowErrorPackage.java
  example-app/SantokuApp/prebuild/dev/android/app/src/release/java/jp/fintan/mobile/SantokuApp/dev/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp.xcodeproj/project.pbxproj
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

docs: dev-client使用時の起動手順を更新
  website/docs/react-native/santoku/development/development-environment/01.basic-setup.mdx
Due: none

wip
  website/docs/react-native/santoku/development/development-environment.mdx
Due: none

Decision Recordの目次に今回のADRを追加
  website/docs/react-native/santoku/decisions.mdx
Due: none

change: npm start の引数から --dev-client を除外
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

docs: 実機での開発ビルドの使用設定について追加
  website/docs/react-native/santoku/development/development-environment.mdx
  website/docs/react-native/santoku/development/development-environment/12.setting-up-development-build-on-real-device.mdx
Due: none

docs: Androidアプリの配布用ビルドの設定にdev環境について追記
  website/docs/react-native/santoku/development/development-environment/10.setting-up-android-distribution-build.mdx
Due: none

docs: fix typo (Dev -> dev)
  website/docs/react-native/santoku/development/development-environment/11.setting-up-ios-distribution-build.mdx
Due: none

feat: expo-dev-clientのエラー処理の改善機能を有効化
  example-app/SantokuApp/src/apps/app/App.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

feat: デモページへの遷移ボタンをreact-nativeのdevMenuからexpoのdevMenuに移動
  example-app/SantokuApp/src/apps/app/App.test.tsx
  example-app/SantokuApp/src/apps/app/navigators/RootStackNav.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

docs: 表現統一(Metroサーバ -> Metro Bundler)
  website/docs/react-native/santoku/development/development-environment/12.setting-up-development-build-on-real-device.mdx
Due: none

docs: WindowsのAndroidエミュレータで遅い/繋がらない場合のトラブルシュートを記載
  website/docs/react-native/santoku/development/development-environment/01.basic-setup.mdx
Due: none

ディープリンク受信時の画面遷移方法に関するADRを追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-019-deep-link-navigation.mdx
  website/docs/sidebars.js
Due: none

過去のADRには、わかりやすいようにサフィックスに（廃止）を追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
Due: none

廃止したADRから、新たに検討したADRのリンクを追加
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
Due: none

代替え -> 代替（他ページとの統一）
  website/docs/react-native/santoku/decisions/adr-018-deep-link.mdx
Due: none

一旦ディープリンクの処理ページを更新
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/question-detail-flow1.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/question-detail-flow2.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/question-detail-flow3.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/question-detail-flow4.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/tap-deep-link-when-background.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/tap-deep-link-when-quit.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/usage.drawio.png
Due: none

文章表現修正
  website/docs/react-native/santoku/decisions/adr-019-deep-link-navigation.mdx
Due: none

コード例に関する文章中のスクリーン名のインラインコードに統一
  website/docs/react-native/santoku/decisions/adr-019-deep-link-navigation.mdx
Due: none

運用ルール内の一部文章表現見直し
  website/docs/react-native/santoku/development/implement/style-guide/lint-ops.mdx
Due: none

Barrelはコード表記にしない
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
Due: none

TypeScriptコーディング規約は、TOCをサイドではなくページ先頭に表示するように変更
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
Due: none

TypeScriptコーディング規約の一部を修正
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
Due: none

unused attachments
  example-app/SantokuApp/.attachments/layer-dependence.drawio.png
  example-app/SantokuApp/.attachments/stereotype.drawio.png
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

warningのタイトルを変更
  website/docs/react-native/santoku/application-architecture/application-structure/overview.mdx
Due: none

ディレクトリ構成のコードブロックを、consoleからtextに変更
  website/docs/react-native/santoku/application-architecture/application-structure/overview.mdx
Due: none

typo スプレット構文 -> スプレッド構文
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
Due: none

コード例の構文エラー対応
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
Due: none

Path conditions:
  .azure-pipelines/delete-deploygate-distribution-pages.yml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-all.yaml: any of: .tool-versions, .azure-pipelines, example-app/SantokuApp, but not: example-app/SantokuApp/README.md
