Repository ws-4020/mobile-app-crib-notes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

.azure-pipelines/delete-deploygate-distribution-pages.yml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  stages:
  - stage: DeleteDistributionPages
    displayName: Delete DeployGate distribution pages
    jobs:
    - job: delete_distribution_pages
      displayName: Delete DeployGate distribution pages
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

.azure-pipelines/deploy-all.yaml:
  name: $(date:yyyyMMdd)$(rev:.rr)
  extends:
    template: deploy.yaml

axiosのバージョン範囲をパッチバージョンに変更
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ライセンス情報が表示されるように修正
  example-app/SantokuApp/src/features/acknowledgements/services/useAssetContent.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

vscodeのプラグイン設定ファイル作成
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ダークモードでもステータスバーが見えるように修正
  example-app/SantokuApp/src/apps/app/App.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

影響がある画面にステータスバーの色を固定する
  example-app/SantokuApp/src/apps/app/App.tsx
  example-app/SantokuApp/src/apps/app/screens/account/LoginScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/account/ProfileDetailScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-home/HomeScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-post/QuestionAndEventPostScreen.tsx
  example-app/SantokuApp/src/features/demo-button/pages/ButtonPage.tsx
  example-app/SantokuApp/src/features/demo-snackbar/pages/SnackbarPage.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

chore: expo-dev-client をrenovateによる更新の対象外にする
  .github/renovate.json5
Due: none

格フォルダに設定ファイルを作成
  example-app/SantokuApp/.vscode/extensions.json
  example-app/SantokuApp/.vscode/settings.json
  website/.vscode/extensions.json
  website/.vscode/settings.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ソースコードの修正
  example-app/SantokuApp/src/apps/app/screens/account/ProfileDetailScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-home/HomeScreen.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

docs: fix: activateKeepAwake -> activateKeepAwakeAsync
  website/docs/react-native/learn/qa-app/app-project-desc.md
Due: none

プロキシ環境で「openapi-generator-cli」がインストールできるようにコマンドを修正
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Due: none

organizationを元に戻す
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Due: none

@tanstack/react-queryのバージョン範囲をパッチバージョンに変更
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

codemodでimport修正
  example-app/SantokuApp/src/apps/app/contexts/ReactQueryProvider.test.tsx
  example-app/SantokuApp/src/apps/app/contexts/ReactQueryProvider.tsx
  example-app/SantokuApp/src/apps/app/services/defaultCache.test.tsx
  example-app/SantokuApp/src/apps/app/services/defaultCache.ts
  example-app/SantokuApp/src/apps/app/services/defaultGlobalErrorHandler.test.tsx
  example-app/SantokuApp/src/apps/app/services/defaultGlobalErrorHandler.ts
  example-app/SantokuApp/src/apps/app/services/defaultGlobalMutationErrorHandler.test.tsx
  example-app/SantokuApp/src/apps/app/services/defaultGlobalMutationErrorHandler.tsx
  example-app/SantokuApp/src/apps/app/services/defaultGlobalQueryErrorHandler.test.tsx
  example-app/SantokuApp/src/apps/app/services/defaultGlobalQueryErrorHandler.tsx
  example-app/SantokuApp/src/bases/react-query/useClientState.ts
  example-app/SantokuApp/src/features/account/pages/LoginPage.test.tsx
  example-app/SantokuApp/src/features/account/pages/ProfileRegistrationPage.test.tsx
  example-app/SantokuApp/src/features/account/services/account/useAccountCommands.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountData.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountQuestionCommands.ts
  example-app/SantokuApp/src/features/account/services/auth/clientLogout.ts
  example-app/SantokuApp/src/features/account/services/auth/logout.ts
  example-app/SantokuApp/src/features/account/services/auth/useAuthCommands.ts
  example-app/SantokuApp/src/features/acknowledgements/services/useAssetContent.ts
  example-app/SantokuApp/src/features/app-updates/services/useAppUpdates.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/useGetFcmToken.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/useHasPermission.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/usePushNotificationSendCommands.ts
  example-app/SantokuApp/src/features/demo-react-query/pages/DisableErrorHandlerDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItem.ts
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItemInfo.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodoCommands.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodoDetails.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodos.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodosInfinite.ts
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.test.tsx
  example-app/SantokuApp/src/features/qa-question/services/useQuestionCommands.ts
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlay.test.tsx
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlayComponent.test.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

QueryKeyにはArrayだけが指定できるようになったので対応
  example-app/SantokuApp/src/bases/react-query/useClientState.ts
  example-app/SantokuApp/src/features/demo-react-query/pages/DisableErrorHandlerDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodosInfinite.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

codemodで修正されなかったimportを修正
  example-app/SantokuApp/src/features/account/services/auth/clientLogout.ts
  example-app/SantokuApp/src/features/account/services/auth/logout.ts
  example-app/SantokuApp/src/features/account/services/auth/useAuthCommands.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

useEffectでステータスバーの色を更新するように修正
  example-app/SantokuApp/src/apps/app/screens/account/LoginScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/account/ProfileDetailScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-button/ButtonScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-snackbar/SnackbarScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-post/QuestionAndEventPostScreen.tsx
  example-app/SantokuApp/src/features/demo-button/pages/ButtonPage.tsx
  example-app/SantokuApp/src/features/demo-snackbar/pages/SnackbarPage.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

モックデータのイベント日付を未来にする
  example-app/SantokuApp/src/fixtures/msw/datas/eventData.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

promise.cancelがサポートされなくなったため、AbortControllerによるキャンセル処理に変更
  example-app/SantokuApp/src/features/account/services/account/getAccountData.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountCommands.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountData.ts
  example-app/SantokuApp/src/features/app-updates/services/requestAppUpdates.ts
  example-app/SantokuApp/src/features/app-updates/services/useAppUpdates.ts
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodoDetails.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

v4ではネットワークモードのデフォルトがonlineになったので、v3と同様の動作であるofflineFirstを設定
  example-app/SantokuApp/src/apps/app/services/defaultOptions.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

リクエストのタイムアウト処理をAbortControllerを使用した方式に変更
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

App.test.tsxのテストが失敗していたので修正
  example-app/SantokuApp/src/apps/app/App.test.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

useQueryのqueryFnからundefinedを返却するとエラーがthrowされるようになった変更に対応
  example-app/SantokuApp/src/features/acknowledgements/pages/LicensePage.tsx
  example-app/SantokuApp/src/features/acknowledgements/services/useAssetContent.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/useGetFcmToken.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

setLoggerが削除された対応
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/jest/setup/react-query.js
  example-app/SantokuApp/src/apps/app/services/defaultOptions.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

QueryStatusから`isIdle`が削除され、fetchStatusが追加された対応（この変更に伴いisInitialLoadingも追加されているので、それにも対応）
  example-app/SantokuApp/src/features/account/components/AccountDataLoader.tsx
  example-app/SantokuApp/src/features/demo-react-query/pages/DependentQueryDemo1Page.tsx
  example-app/SantokuApp/src/features/demo-react-query/pages/DependentQueryDemo2Page.tsx
  example-app/SantokuApp/src/features/demo-react-query/pages/DependentQueryDemo3Page.tsx
  example-app/SantokuApp/src/features/demo-react-query/pages/DisabledQueryDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/pages/ListTodoDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItem.ts
  example-app/SantokuApp/src/features/demo-react-query/services/item/useItemInfo.ts
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodoDetails.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ステータスバーの文字の色を変更する処理を修正
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-button/ButtonScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-snackbar/SnackbarScreen.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

docs: refactor: 「遷移先の画面にパラメータを渡す」ページ用の画像のファイル名を具体化
  website/docs/react-native/learn/advance/modal-with-param.png
  website/docs/react-native/learn/advance/react-navigation-param.mdx
Due: none

docs: 応用編「遷移先の画面にパラメータを渡す」ページを「React Navigationの基本」セクションに移動
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/modal-with-param.png
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/param.mdx
  website/docs/sidebars.js
Due: none

docs: 「遷移先の画面にパラメータを渡す」ページのリダイレクト設定を追加
  website/docusaurus.config.js
Due: none

日付をyyyy/mm/dd形式で取得
  example-app/SantokuApp/src/fixtures/msw/datas/eventData.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

スナップショット更新
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

4件は日付を1年後にし、他は過去の日付に固定
  example-app/SantokuApp/src/fixtures/msw/datas/eventData.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

QueryKeyをArrayに変更する以外にも更新していたものを戻す
  example-app/SantokuApp/src/features/demo-react-query/pages/DisableErrorHandlerDemoPage.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

macosのドキュメントURLを変更
  .github/workflows/app.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
Due: none

Azure PipelineのイメージもmacOS13に変更
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

Ubuntu22.04のURLに変更
  .github/workflows/delete-deploygate-distribution-pages.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/report.yaml
  .github/workflows/triage.yaml
Due: none

Path conditions:
  .azure-pipelines/delete-deploygate-distribution-pages.yml: any of: example-app/SantokuApp, but not: example-app/SantokuApp/README.md
  .azure-pipelines/deploy-all.yaml: any of: .tool-versions, .azure-pipelines, example-app/SantokuApp, but not: example-app/SantokuApp/README.md
