Repository ws-4020/mobile-app-crib-notes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

.azure-pipelines/delete-deploygate-distribution-pages.yml:

trigger: none

pr:
  branches:
    include:
      - '*'
  paths:
    include:
      - 'example-app/SantokuApp'
    exclude:
      - 'example-app/SantokuApp/README.md'
  drafts: false

name: $(date:yyyyMMdd)$(rev:.rr)

parameters:
- name: platforms
  type: object
  default:
    - 'android'
    - 'ios'
- name: appIds
  type: object
  default:
    - 'jp.fintan.mobile.SantokuApp.dev.debugAdvanced'
    - 'jp.fintan.mobile.SantokuApp.dev.house'
    - 'jp.fintan.mobile.SantokuApp.debugAdvanced'
    - 'jp.fintan.mobile.SantokuApp.house'

variables:
- group: deployGate
- name: branchName
  value:
    ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/') }}:
      $[ replace(variables['Build.SourceBranch'], 'refs/heads/', '') ]
    ${{ if startsWith(variables['Build.SourceBranch'], 'refs/pull/') }}:
      $[ replace(variables['System.PullRequest.SourceBranch'], 'refs/heads/', '') ]

stages:
- stage: DeleteDistributionPages
  displayName: Delete DeployGate distribution pages
  jobs:
  - job: delete_distribution_pages
    displayName: 'Delete DeployGate distribution pages'
    pool:
      vmImage: ubuntu-latest
    steps:
    - ${{ each platform in parameters.platforms }}:
      - ${{ each appId in parameters.appIds }}:
        - task: CmdLine@2
          displayName: 'Delete distribution page for $(parameters.branchName):${{platform}}:${{appId}}'
          inputs:
            script: |
              curl -X DELETE -H "Authorization: token $(deployGate_OrganizationApiKey)" "https://deploygate.com/api/users/$(deployGate_OrganizationName)/platforms/${{platform}}/${{appId}}/distributions" -F "distribution_name=$(parameters.branchName)"
          failOnStderr: false

.azure-pipelines/deploy-all.yaml:

trigger:
  branches:
    include:
      - 'master'
  paths:
    include:
      - '.tool-versions'
      - '.azure-pipelines/**'
      - 'example-app/SantokuApp'
    exclude:
      - 'example-app/SantokuApp/README.md'

pr: none

name: $(date:yyyyMMdd)$(rev:.rr)

extends:
  template: deploy.yaml

Q&Aアプリで使用するmswのバージョンを指定
  website/docs/react-native/learn/qa-app/app-project-desc.md
Due: none

npm install expo@^50.0.0
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

npx expo install --fix
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

npm i react-native-qrcode-svg@~6.3.0
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

npm i -D @expo/config-plugins@~7.9.2 - npm ls @expo/config-plugins ├─┬ expo@50.0.20 │ ├─┬ @expo/cli@0.17.13 │ │ ├── @expo/config-plugins@7.9.2
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

npx expo install expo-application
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

rename patch file
  example-app/SantokuApp/patches/@expo+config-plugins+7.9.2.patch
  example-app/SantokuApp/patches/expo-splash-screen+0.26.5.patch
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ReanimatedのJest utilに型情報が同梱されるようになっているので、不要になったファイルを削除
  example-app/SantokuApp/src/@types/react-native-reanimated-jest-util.d.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Javaのバージョンを17に更新
  .tool-versions
Due: .azure-pipelines/deploy-all.yaml

静的解析エラーを修正
  example-app/SantokuApp/jest/__mocks__/expo-splash-screen.ts
  example-app/SantokuApp/src/bases/ui/modal/ModalBackdrop.tsx
  example-app/SantokuApp/src/bases/ui/modal/ModalContainer.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayBackdrop.test.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayBackdrop.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayContainer.test.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayContainer.tsx
  example-app/SantokuApp/src/bases/ui/picker/PickerBackdrop.tsx
  example-app/SantokuApp/src/bases/ui/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/PickerContainer.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

MainApplicationと, MainActivityがKotlinで実装されるようになったので、Config Pluginを修正
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddAppActivity.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddNativeModulePackages.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidCopyMainActivity.ts
  example-app/SantokuApp/config/plugin/template/android/app/src/main/java/com/helloworld/MainActivity.java
  example-app/SantokuApp/config/plugin/template/android/app/src/main/java/com/helloworld/MainActivity.kt
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Rename .java to .kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/AppActivity.kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainActivity.kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainApplication.kt
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

CocoaPodsのバージョンを更新
  example-app/SantokuApp/Gemfile
  example-app/SantokuApp/Gemfile.lock
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

prebuild (iOS/local)
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/AppDelegate.mm
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/Supporting/Expo.plist
  example-app/SantokuApp/prebuild/local/ios/Podfile
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

prebuild (Android/local)
  example-app/SantokuApp/prebuild/local/android/app/build.gradle
  example-app/SantokuApp/prebuild/local/android/app/src/debug/java/jp/fintan/mobile/SantokuApp/local/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/local/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/AppActivity.kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainActivity.kt
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainApplication.kt
  example-app/SantokuApp/prebuild/local/android/app/src/release/java/jp/fintan/mobile/SantokuApp/local/ReactNativeFlipper.java
  example-app/SantokuApp/prebuild/local/android/build.gradle
  example-app/SantokuApp/prebuild/local/android/gradle.properties
  example-app/SantokuApp/prebuild/local/android/gradle/wrapper/gradle-wrapper.jar
  example-app/SantokuApp/prebuild/local/android/gradle/wrapper/gradle-wrapper.properties
  example-app/SantokuApp/prebuild/local/android/gradlew
  example-app/SantokuApp/prebuild/local/android/settings.gradle
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

expo-doctorの結果に合わせて修正（TypeScriptはmswの制約で5.2以上に上げることができない）
  .github/renovate.json5
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

react-native-pickerが、iOSではvalueを文字列化するようになったので対応
  example-app/SantokuApp/src/bases/ui/picker/YearMonthPicker.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/useYearMonthPicker.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

React Navigationのバージョンを更新
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

ライセンス情報を更新
  example-app/SantokuApp/.script/check-licenses.js
  example-app/SantokuApp/.script/list-dependencies.js
  example-app/SantokuApp/.script/managed-license.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

act外での状態更新という警告が出ていた箇所を修正
  example-app/SantokuApp/src/bases/ui/picker/DateTimePicker.ios.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/SelectPicker.test.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

スナップショットを更新
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/overlay/__snapshots__/OverlayBackdrop.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/overlay/__snapshots__/OverlayContainer.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/SelectPickerItems.android.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/YearMonthPicker.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/qrcode/__snapshots__/QRCode.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/webview/__snapshots__/WebView.test.tsx.snap
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
  example-app/SantokuApp/src/features/terms/components/__snapshots__/TermsAgreementOverlayComponent.test.tsx.snap
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Lintが遅すぎるので、不要なファイルをチェック対象から除外
  example-app/SantokuApp/.eslintrc.js
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

React Native WebViewのモックが必要になったので追加
  example-app/SantokuApp/jest/__mocks__/react-native-webview.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

テスト修正（マイクロタスクとしてキューに追加されたworkletが処理されるように修正）
  example-app/SantokuApp/src/bases/core/utils/useWorkletCallback.test.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Java 17へのアップグレードに伴うドキュメント修正
  .azure-pipelines/deploy.yaml
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Due: .azure-pipelines/deploy-all.yaml

Rename .java to .kt
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/AppActivity.kt
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainActivity.kt
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainApplication.kt
  example-app/SantokuApp/prebuild/prod/android/app/src/main/java/jp/fintan/mobile/SantokuApp/AppActivity.kt
  example-app/SantokuApp/prebuild/prod/android/app/src/main/java/jp/fintan/mobile/SantokuApp/MainActivity.kt
  example-app/SantokuApp/prebuild/prod/android/app/src/main/java/jp/fintan/mobile/SantokuApp/MainApplication.kt
  example-app/SantokuApp/prebuild/stg/android/app/src/main/java/jp/fintan/mobile/SantokuApp/stg/AppActivity.kt
  example-app/SantokuApp/prebuild/stg/android/app/src/main/java/jp/fintan/mobile/SantokuApp/stg/MainActivity.kt
  example-app/SantokuApp/prebuild/stg/android/app/src/main/java/jp/fintan/mobile/SantokuApp/stg/MainApplication.kt
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Azure DevOpsの環境に合わせてRubyのバージョンを更新
  .azure-pipelines/deploy.yaml
  .tool-versions
Due: .azure-pipelines/deploy-all.yaml

ビルド環境のmacOSバージョンを更新
  .azure-pipelines/deploy.yaml
  .github/workflows/app.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
Due: .azure-pipelines/deploy-all.yaml

Rubyのバージョンをパッチバージョンまで指定するのは推奨されていないようだったので変更
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

Xcodeのバージョンを更新
  .azure-pipelines/deploy.yaml
Due: .azure-pipelines/deploy-all.yaml

react-native-url-polyfillは不要になったので削除
  example-app/SantokuApp/index.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

withAndroidCopyTemplateJavaFile -> withAndroidCopyTemplateSourceFile
  example-app/SantokuApp/config/plugin/src/android/index.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddAppActivity.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddNativeModules.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidCopyTemplateSourceFile.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

expo-applicationをRenovate対象外に追加
  .github/renovate.json5
Due: none

Pickerの型定義を修正（string以外の値を保つ場合はkeyを必須とする）
  example-app/SantokuApp/src/bases/ui/picker/SelectPicker.tsx
  example-app/SantokuApp/src/bases/ui/picker/SelectPickerItem.tsx
  example-app/SantokuApp/src/bases/ui/picker/SelectPickerItems.android.tsx
  example-app/SantokuApp/src/bases/ui/picker/__snapshots__/SelectPickerItems.android.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/picker/useYearMonthPicker.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

Pickerでkeyが数値(number, bigint)の場合にも正しく動作するように修正
  example-app/SantokuApp/src/bases/ui/picker/useSelectPicker.ts
  example-app/SantokuApp/src/features/demo-picker/components/DemoSelectPicker.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

keyに設定できる値の型を、React Native PickerのselectedValueの型に合わせて修正
  example-app/SantokuApp/src/bases/ui/picker/SelectPicker.tsx
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml

valueがnumberの場合はkeyは必須ではなくなったので修正
  example-app/SantokuApp/src/bases/ui/picker/useYearMonthPicker.ts
Due: .azure-pipelines/delete-deploygate-distribution-pages.yml, .azure-pipelines/deploy-all.yaml
